:root{
    --primary-color:#fc8181;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(110deg, rgba(75, 108, 183, 1) 11.3%, rgba(24, 40, 72, 1) 99.3%);
}

.container {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1 {
    text-align: center;
    color: rgb(29, 29, 60);
    text-decoration: underline;
    margin-bottom: 10px;
    position: relative;
    
}
/* h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: rgb(29, 29, 60);
    width: 180px;
    height: 3px;
    border-radius: 5px;
    transform: translateX(-50%);
} */
i{
    cursor: pointer;
}
.passwordArea {
    /* background-color: aqua; */
    width: 400px;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.passwordArea i {
    margin-right: 10px;
    font-size: 20px;
    color: gray;
    margin-top: 15px;

}

i:hover{
    color: black;
}

.box {
    margin: auto;
    width: 400px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feature {
    margin-top: 10px;
    color: rgb(48, 45, 45);
    font-size: 18px;
    /* font-weight: bold; */
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

button {
    height: 40px;
    width: 400px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
     background-image: linear-gradient(110deg, rgba(75, 108, 183, 1) 11.3%, rgba(24, 40, 72, 1) 99.3%);
    /* background-color: rgb(29, 29, 60); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button:hover{
    background-color:rgb(60, 60, 114) ;
    color: black;
    transition: 0.2s ease-in;
}

.box2 {
    width: 400px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box2 div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    height: 10px;
    box-shadow: inset 0 1px 2px rgba(0.2,0.5,0.2,0.5);
    /* background-color: aquamarine; */
    border-radius: 10px;
    transition: 0.2s ease;
}
button i{
    margin-right: 5px;
}
input{
    cursor: pointer;
    color: rgb(53, 51, 51);
}
span{
    font-weight: bold;
}
.passwordArea input{
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    font-size: 20px;
    border: none;
    
}
#lable{
    display: none;
}